.gallery{
    background-image: url(/src/assets/background.jpg);
}
.gallery h1{
    color: rgba(255, 255, 255, 0.788);
    font-size: 50px;
    font-family: Rubik;
}

.imggallery{
   
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center; 
    margin: 0px auto 0px auto;; 
   
}

.imggallery img{
    width: 350px;
    height : 350px;
    cursor: pointer;
    margin: 20px 40px 40px 20px;
    transition: 0.5s all ease-in-out;
}
.imggallery img:hover{
    transform: scale(1.3);
}

